.wrapper {
   
    width: 1000px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 40px 35px 55px;
    margin: 0 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-family: Helvetica, sans-serif Times, serif;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://i.pinimg.com/originals/17/4b/77/174b77c13dd4b36bc8376940135d280b.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper .selector{
    display: flex;
    justify-content: center;
    align-items: center;
   opacity:0.5;
}

.wrapper h1 {
    color: rgb(123, 123, 124);
    font-family: Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 900px;
}


footer{
    background-color: rgb(11, 11, 34);
   opacity: .9; 
}

a {
    color: #ffffff;
}

p{
    color: #ffffff;
}